In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Heart Disease.csv')

In [3]:
df.shape

(319795, 18)

# Removing Duplicate

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.shape

(301717, 18)

In [6]:
df.HeartDisease.value_counts()

No     274456
Yes     27261
Name: HeartDisease, dtype: int64

# Encoding The DataSet with labelEncoder

In [7]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [8]:
from pandas.core.dtypes.common import is_numeric_dtype
for column in df.columns:
    if is_numeric_dtype(df[column]):
        continue
    else:
        df[column]=label.fit_transform(df[column])

# Separating x and y

In [9]:
x=df.drop('HeartDisease',axis=1)
y=df['HeartDisease']

In [10]:
x

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,16.60,1,0,0,3,30,0,0,7,5,2,1,4,5,1,0,1
1,20.34,0,0,1,0,0,0,0,12,5,0,1,4,7,0,0,0
2,26.58,1,0,0,20,30,0,1,9,5,2,1,1,8,1,0,0
3,24.21,0,0,0,0,0,0,0,11,5,0,0,2,6,0,0,1
4,23.71,0,0,0,28,0,1,0,4,5,0,1,4,8,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,27.41,1,0,0,7,0,1,1,8,3,2,0,1,6,1,0,0
319791,29.84,1,0,0,0,0,0,1,3,3,0,1,4,5,1,0,0
319792,24.24,0,0,0,0,0,0,0,5,3,0,1,2,6,0,0,0
319793,32.81,0,0,0,0,0,0,0,1,3,0,0,2,12,0,0,0
319794,46.56,0,0,0,0,0,0,0,12,3,0,1,2,8,0,0,0

In [11]:
y

0         0
1         0
2         0
3         0
4         0
         ..
319790    1
319791    0
319792    0
319793    0
319794    0
Name: HeartDisease, Length: 301717, dtype: int32

# Imbalance Data handling

In [12]:
df.HeartDisease.value_counts()

0    274456
1     27261
Name: HeartDisease, dtype: int64

In [13]:
not_HeartDisease=(274456/(274456+27261))*100
HeartDisease=(27261/(274456+27261))*100

In [14]:
print('No HeartDisease {} percent of the total people'.format(not_HeartDisease))

No HeartDisease 90.96471196518591 percent of the total people

In [15]:
print('HeartDisease {} percent of the total people'.format(HeartDisease))

HeartDisease 9.03528803481408 percent of the total people

In [16]:
HeartDisease_no=df[df['HeartDisease']==0]
HeartDisease_yes=df[df['HeartDisease']==1]

In [17]:
HeartDisease_no.shape

(274456, 18)

In [18]:
HeartDisease_yes.shape

(27261, 18)

# So we have to balance our dataset . Now applying Random over sampling techniques

# Over sampling

In [19]:
from imblearn.over_sampling import RandomOverSampler
random_over_sampler = RandomOverSampler(random_state =100)

In [20]:
x_new,y_new=random_over_sampler.fit_resample(x,y)

In [21]:
#x1_new=x2_new=x3_new=x4_new=x5_new=x6_new=x7_new=x8_new=x9_new=x_new
x_new

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,16.60,1,0,0,3,30,0,0,7,5,2,1,4,5,1,0,1
1,20.34,0,0,1,0,0,0,0,12,5,0,1,4,7,0,0,0
2,26.58,1,0,0,20,30,0,1,9,5,2,1,1,8,1,0,0
3,24.21,0,0,0,0,0,0,0,11,5,0,0,2,6,0,0,1
4,23.71,0,0,0,28,0,1,0,4,5,0,1,4,8,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548907,35.43,0,0,0,0,0,0,0,12,5,0,1,4,5,0,0,1
548908,23.01,1,0,0,0,20,0,1,8,5,0,1,4,6,0,0,0
548909,30.80,0,0,0,0,0,0,0,10,4,2,0,2,5,0,0,0
548910,44.63,0,0,0,0,7,1,0,9,2,2,0,2,8,0,0,0
548911,30.90,0,0,0,0,10,1,0,9,5,0,1,2,8,0,0,0

In [22]:
#y1_new=y2_new=y3_new=y4_new=y5_new=y6_new=y7_new=y8_new=y9_new=y_new

In [23]:
y_new

0         0
1         0
2         0
3         0
4         0
         ..
548907    1
548908    1
548909    1
548910    1
548911    1
Name: HeartDisease, Length: 548912, dtype: int32

In [24]:
x_new.shape

(548912, 17)

In [25]:
y_new.shape

(548912,)

In [26]:
y_new.value_counts()

0    274456
1    274456
Name: HeartDisease, dtype: int64

# 3-> K Nearest Neighbors Algorithm implementation

# KNN for holdout cross validation with Randon Over Sampling

In [27]:
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()

In [28]:
over_xtrain,over_xtest,over_ytrain,over_ytest = train_test_split(x_new,y_new,test_size = 0.30 ,random_state =42)
knn.fit(over_xtrain,over_ytrain)

KNeighborsClassifier()

In [29]:
OverSampleing_dataset_accuracy2 = knn.score(over_xtest,over_ytest)
OverSampleing_dataset_accuracy2

0.8803089740942711

# KFold cross validation for Random Over sampling

In [30]:
from sklearn.model_selection import KFold, cross_val_score
kfold = KFold(n_splits = 10)

In [ ]:
OverSampleingDataset_kfold_result2 = cross_val_score(knn,x_new,y_new,cv = kfold)
OverSampleingDataset_kfold_result2

In [ ]:
OverSampleingDataset_kfold_result2.mean()

# StratiFied KFold cross validation for Over sampling

In [ ]:
from sklearn.model_selection import StratifiedKFold
Stf_Kfold = StratifiedKFold(n_splits = 10)

In [ ]:
OverSampleingDataset_Sf_kfold_result2 = cross_val_score(knn,x_new,y_new,cv = Stf_Kfold)
OverSampleingDataset_Sf_kfold_result2

In [ ]:
OverSampleingDataset_Sf_kfold_result2.mean()

# Now from over sampling ,we calculate all confusion matrix performance

In [ ]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix,plot_roc_curve
knn.fit(over_xtrain,over_ytrain)

In [ ]:
pred_y2=knn.predict(over_xtest)#Predicted Class 
pred_y2

In [ ]:
over_ytest

In [ ]:
np.array(over_ytest) #actual class/y

In [ ]:
print(classification_report(over_ytest,pred_y2))

In [ ]:
cm2=confusion_matrix(over_ytest,pred_y2)
cm2

# Visualization with heatmap performance of confussion matrix for KNN

In [ ]:
sns.heatmap(cm2,annot=True)
plt.xlabel('Predicted Values')
plt.ylabel('Actual Values')

In [ ]:
tp,fn,fp,tn=confusion_matrix(over_ytest,pred_y2).reshape(-1)

In [ ]:
tp

In [ ]:
fn

In [ ]:
fp

In [ ]:
tn

# Accuracy

In [ ]:
(tp+tn)/(tp+fn+fp+tn)

In [ ]:
#precision
ppv = tp/(tp+fp)
print(ppv)

In [ ]:
#Recall
trp = tp/(tp+fn)
print(trp)

In [ ]:
#1-Specificity
fpr = fp/(fp+tn)
print(fpr)

In [ ]:
#F1-score
f1_score = (2*ppv*trp)/(ppv+trp)
print(f1_score)

In [ ]:
#Specificity
tnr = tn/(tn+fp)
print(tnr)

In [ ]:
#CSI
csi = tp/(tp+fn+fp)
print(csi)

In [ ]:
#FDR
fdr = fp/(tp+fp)
print(fdr)

# Roc and Auc curve for KNN

In [ ]:
plot_roc_curve(knn,over_xtest,over_ytest,color='red')
plt.plot([0,1],[0,1])

# Now Optimizing KNN Algorithm

# Tuning KNN Algorithm using Randomized Search CV

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

# Assign Parameters

In [ ]:
n_neighbors=np.random.randint(1,12,20)
weights=['uniform','distance']
algorithm=['auto','ball_tree','kd_tree','brute']
leaf_size=np.random.randint(1,12,20)
p=np.random.randint(1,12,20)

parameters={
    'n_neighbors':n_neighbors,
    'weights':weights,
    'algorithm':algorithm,
    'leaf_size':leaf_size,
    'p':p
}

In [ ]:
print(parameters)

In [ ]:
import warnings
warnings.filterwarnings('ignore')
r=RandomizedSearchCV(knn,parameters,n_iter=100,cv=3)
r.fit(over_xtrain,over_ytrain)

In [ ]:
r.cv_results_

In [ ]:
result=pd.DataFrame(r.cv_results_)
result

In [ ]:
new_r=r.best_estimator_
new_r

In [ ]:
new_r.fit(over_xtrain,over_ytrain)

In [ ]:
new_r.score(over_xtrain,over_ytrain)